<h1>Listing imagen_discos</h1>

<table>
  <tr>
    <th>Cod disco</th>
    <th>Cod imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imagen_discos.each do |imagen_disco| %>
  <tr>
    <td><%= imagen_disco.cod_disco %></td>
    <td><%= imagen_disco.cod_imagen %></td>
    <td><%= link_to 'Show', imagen_disco %></td>
    <td><%= link_to 'Edit', edit_imagen_disco_path(imagen_disco) %></td>
    <td><%= link_to 'Destroy', imagen_disco, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imagen disco', new_imagen_disco_path %>
