<p id="notice"><%= notice %></p>

<p>
  <b>Cod evento:</b>
  <%= @evento.cod_evento %>
</p>

<p>
  <b>Cod disco:</b>
  <%= @evento.cod_disco %>
</p>

<p>
  <b>Nombre:</b>
  <%= @evento.nombre %>
</p>

<p>
  <b>Ofertas:</b>
  <%= @evento.ofertas %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @evento.descripcion %>
</p>

<p>
  <b>Caducado:</b>
  <%= @evento.caducado %>
</p>

<p>
  <b>Fecha:</b>
  <%= @evento.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%= @evento.hora %>
</p>

<p>
  <b>Estilo:</b>
  <%= @evento.estilo %>
</p>

<p>
  <b>Reservable:</b>
  <%= @evento.reservable %>
</p>

<p>
  <b>Logo 1:</b>
  <%= @evento.logo_1 %>
</p>

<p>
  <b>Logo 2:</b>
  <%= @evento.logo_2 %>
</p>

<p>
  <b>Prioridad:</b>
  <%= @evento.prioridad %>
</p>

<p>
  <b>Fechatexto:</b>
  <%= @evento.fechatexto %>
</p>

<p>
  <b>Cod sala:</b>
  <%= @evento.cod_sala %>
</p>

<p>
  <b>Logo web:</b>
  <%= @evento.logo_web %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
