<h1>Listing imagen_eventos</h1>

<table>
  <tr>
    <th>Cod evento</th>
    <th>Cod imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imagen_eventos.each do |imagen_evento| %>
  <tr>
    <td><%= imagen_evento.cod_evento %></td>
    <td><%= imagen_evento.cod_imagen %></td>
    <td><%= link_to 'Show', imagen_evento %></td>
    <td><%= link_to 'Edit', edit_imagen_evento_path(imagen_evento) %></td>
    <td><%= link_to 'Destroy', imagen_evento, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imagen evento', new_imagen_evento_path %>
