<p id="notice"><%= notice %></p>

<p>
  <b>Cod zona:</b>
  <%= @zona.cod_zona %>
</p>

<p>
  <b>Nombre:</b>
  <%= @zona.nombre %>
</p>

<p>
  <b>Logon:</b>
  <%= @zona.logoN %>
</p>

<p>
  <b>Logor:</b>
  <%= @zona.logoR %>
</p>

<p>
  <b>Logow:</b>
  <%= @zona.logoW %>
</p>


<%= link_to 'Edit', edit_zona_path(@zona) %> |
<%= link_to 'Back', zonas_path %>
